@model DemoApp.Controllers.UserInfo
@{
    Layout = "../Shared/Layout.cshtml";
}
<div class="well pull-right">
    <p><strong>User information:</strong></p>
    <p>@(Model.Username ?? "unknown") - @Model.IpAddress</p>
</div>
