@model DemoApp.Controllers.UserInfo
@{
    Layout = "../Shared/Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="well pull-right">
                <p><strong>User information:</strong></p>
                <p>@(Model.Username ?? "unknown") - @Model.IpAddress</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <h4>Tiles 
                <a href="javascript:void(0);" id="add-tile" class="btn btn-success">
                    <i class="glyphicon glyphicon-plus-sign"></i>
                </a></h4>
            <div id="tile-container"></div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <h4>Messages 
                <a href="javascript:void(0);" id="add-message" class="btn btn-success">
                    <i class="glyphicon glyphicon-plus-sign"></i>
                </a></h4>
            <ul id="message-container"></ul>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <h4>Dots 
                <a href="javascript:void(0);" id="add-dot" class="btn btn-success">
                    <i class="glyphicon glyphicon-plus-sign"></i>
                </a></h4>
            <div id="dot-container"></div>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.9.1.js" ></script>
    <script src="~/Scripts/bootstrap.js" ></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="signalr/hubs"></script>
    <script>
        var tile = $.connection.tileHub;
        tile.client.broadcastMessage = function (name, message) {
            var newTile = $('<div />')
                            .addClass('label')
                            .attr('style', 'background-color:' + message)
                            .html('&nbsp;');

            $('#tile-container').append(newTile);
        };

        var dot = $.connection.dotHub;
        dot.client.broadcastMessage = function (name, message) {
            $('#dot-container').append(".");
        };
        var messages = $.connection.messagesHub;
        messages.client.broadcastMessage = function (name, message) {
            var msgItem = $('<li />')
                            .html(name + ' - ' + message);
            $('#message-container').append(msgItem);
        };

        // Start the connection.
        $.connection.hub.start().done(function () {
            $('#add-tile').click(function () {
                var color = prompt('give either a plaintext color (e.g. red, green, blue) or a hex value (e.g. #ffccaa)');
                $.ajax({
                    url: "api/v1/tile",
                    type: "POST",
                    data: {'Color' : color}
                });
            });
            $('#add-message').click(function () {
                var msg = prompt('message:');
                $.ajax({
                    url: "api/v1/messages",
                    type: "POST",
                    data: {'Message' : msg}
                });
            });
            $('#add-dot').click(function () {
                $.ajax({
                    url: "api/v1/dot",
                    type: "POST",
                });
            });

        });


    </script>
</div>